@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Agrega estas reglas para ocultar las barras de desplazamiento en Chrome */
.formulario {
    margin-top: 5rem;
    width: 100%;
    overflow-y: scroll; /* Muestra barras de desplazamiento solo cuando sea necesario */
    scrollbar-width: none; /* Oculta las barras de desplazamiento por defecto de Chrome */
    -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento suave en dispositivos táctiles */
}

.formulario::-webkit-scrollbar {
    width: 0; /* Oculta las barras de desplazamiento personalizadas de Chrome */
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }
    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;

        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}